<body class="hold-transition sidebar-mini layout-fixed">
<app-header></app-header>
<div class="card-body">
    <span class="h3">Lista de tés</span>
    <table class="table table-striped mt-5">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Temperatura</th>
                <th>Tipo de té</th>
                <th>Nacionalidad</th>
                <th>Instrucciones</th>
                <th>Dificultad</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tea of teas" [ngSwitch]="tea.urlNacionalidad">
                <td>{{tea.nombre}}</td>
                <td>{{tea.temperatura}}</td>
                <td>{{tea.tipoTe}}</td>
                <td *ngSwitchCase="'https://www.countryflags.io/gb/flat/64.png'">Inglaterra</td>
                <td *ngSwitchCase="'https://www.countryflags.io/cn/flat/64.png'">Chino</td>
                <td *ngSwitchCase="'https://www.countryflags.io/tw/flat/64.png'">Taiwan</td>
                <td>{{tea.instrucciones}}</td>
                <td>{{tea.dificultad}}/5</td>
                <td><img [src]="tea.foto" alt="" height=100 width=100></td>
            </tr>
        </tbody>
    </table>
    <app-agregar-te></app-agregar-te>
</div>
<app-footer></app-footer>
</body>