
<div class="container-login100">
    <div class="wrap-login100">
        <div class="login100-form-title" style="background-image: url(../../../assets/images/card-login.jpg);">
            <span class="login100-form-title-1">
                Panel administrativo
            </span>
        </div>
        <section class="login100-form validate-form">
            <div class="wrap-input100 validate-input m-b-26">
                <span class="label-input100">Correo electrónico</span>
                <input class="input100" type="email" name="username" required placeholder="Ingrese su nombre de usuario">
                <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input m-b-18">
                <span class="label-input100">Contraseña</span>
                <input class="input100" type="password" name="pass"  required placeholder="Ingrese su contraseña">
                <span class="focus-input100"></span>
            </div>
            <div class="flex-sb-m w-full p-b-30">
                <div>
                    <a href="#">
                        Olvidaste tu contraseña?
                    </a>
                </div>
            </div>
            <div class="container-login100-form-btn">
                <button class="login100-form-btn">
                    Entrar
                </button>
            </div>
        </section>
    </div>
</div> 
