<span class="h3">Agregar té</span>
<form>
    <input type="text" placeholder="Nombre del té" class="form-control"> 
    <select class="form-select form-control">
        <option selected disabled>Dificultad</option>
        <option value="1">1</option>
        <option value="1.5">1,5</option>
        <option value="2">2</option>
        <option value="2.5">2,5</option>
        <option value="3">3</option>
        <option value="3.5">3,5</option>
        <option value="4">4</option>
        <option value="4.5">4,5</option>
        <option value="5">5</option>
    </select>
    <select class="form-select form-control">
        <option selected disabled>Nacionalidad</option>
        <option value="1">Inglaterra</option>
        <option value="2">Taiwan</option>
        <option value="3">China</option>
    </select>
    <input type="text" placeholder="Inserte URL de imagen" class="form-control">
    <input type="text" placeholder="Instrucciones" class="form-control">
    <select class="form-select form-control">
        <option selected disabled>Temperatura</option>
        <option value="1">Frío</option>
        <option value="2">Caliente</option>
    </select>
    <select class="form-select form-control">
        <option selected disabled>Tipo de té</option>
        <option value="1">Té Negro</option>
        <option value="1">Té Verde</option>
        <option value="2">Té Rojo</option>
    </select>
    <button class="btn btn-warning">Agregar</button>
</form>
